<%- include('partials/html-start.ejs') %>
<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./public/styles/style.css">
</head>

<body>
  <div class="bg-image"></div>

  <div class="container">
      <h1>Let's play a name game.</h1>
      <form>
        <div class="mb-3">
          <label for="nameInput" class="form-label">Your name:</label>
          <input type="text" class="form-control" id="nameInput" placeholder="Enter your name" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
      </form>
      <h3 id="pig-latin"></h3>
      <h3 id="spirit-animal"></h3>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
  <script  src="./public/scripts/script.js"></script>
</body>
</html>




                

<%- include('partials/html-end.ejs') %>